<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="index.php" />
            </files>
        </defaultDocument>
        <rewrite>
            <rules>
                <rule name="가져온 규칙 1">
                    <match url="\.(gif|jpe?g|png|swf|css|js|htm|html|flv|cab|xml|php)|var(.+)storage.pdf(.+)\.pdf$" ignoreCase="false" negate="true" />
                    <action type="Rewrite" url="index.php" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
